name: Yaml-pptr CI

permissions: 
   contents: read
   packages: read

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '**.txt'
      - '.gitignore'
      - 'LICENSE'
      - '.github/**'
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '**.txt'
      - '.gitignore'
      - 'LICENSE'
      - '.github/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CI: true
      
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '21.x'
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bloom-perf'
           
      - name: Install dependencies
        run: npm ci
        
      - name: Build Typescript
        run: npm run build
        
      - name: Run Tests
        run: npm run test
        
      - name: NYC Coverage Report
        if: always()  # S'exécute même si les tests échouent
        continue-on-error: true
        run: |
          npm run test:coverage
          npx nyc report --reporter=text-summary
